Data Types and Structures Questions

Q1- What are data structures, and why are they important

Ans - Data structures are fundamental building blocks in computer science, defining
how data is organized and stored on a computer for efficient access, retrieval, and
manipulation. They are essential because they enable programs to process information
effectively, impacting performance, code readability, and the ability to solve complex
problems

Q2 - Explain the difference between mutable and immutable data types with examples

Ans- Mutable data types are those that can be modified after their creation, while
immutable data types cannot be changed once they are created. Lists and dictionaries are
examples of mutable data types, whereas strings and tuples are examples of immutable
data types.

Q3 - What are the main differences between lists and tuples in Python3
Ans -  Lists are mutable, meaning their elements can be changed after creation. You can add, remove, or modify elements in a list.
Tuples are immutable, meaning their elements cannot be changed after creation.
Once a tuple is defined, its contents are fixed.

Q4-  Describe how dictionaries store dataP

Ans - Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format

Q5 - Why might you use a set instead of a list in Python

Ans - Sets and lists are both used to store collections of items in Python, but they have key differences that make them suitable for different tasks. Sets only store unique elements, automatically removing duplicates. Lists, on the other hand, can contain duplicate elements

Q6- What is a string in Python, and how is it different from a list

Ans -  In Python, a string is an immutable sequence of characters enclosed in single or double quotes, while a list is a mutable, ordered sequence of items enclosed in square brackets. Strings can only contain characters, while lists can hold various data types, including strings, numbers, and even other lists.

Q7 - How do tuples ensure data integrity in Python

Ans- -Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its contents cannot be changed: elements cannot be added, removed, or modified. This characteristic offers several advantages related to data integrity

Q8 - What is a hash table, and how does it relate to dictionaries in Python?

Ans -In Python, strings are immutable, which means that once a string is created, its value cannot be changed. Any operation that appears to modify a string actually creates a new string object

Q9- Can lists contain different data types in Python

Ans -  Yes, Python lists can contain elements of different data types. This includes integers, floats, strings, booleans, and even other lists or data structures. Python lists are dynamically typed, meaning you can add or remove elements of any type without declaring the list's type beforehand

Q10  Explain why strings are immutable in Python

Ans - In Python, strings are immutable, which means that once a string is created, its value cannot be changed. Any operation that appears to modify a string actually creates a new string object

Q11-What advantages do dictionaries offer over lists for certain tasks

Ans -  it is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner. Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future

Q12-  Describe a scenario where using a tuple would be preferable over a list

Ans - Use a list if you need a mutable collection of items where you may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections. Use a tuple if you need an immutable collection where the elements won't change after creation"

Q13- How do sets handle duplicate values in Python

Ans- In Python, sets are designed to store only unique elements. When you attempt to add a duplicate value to a set, it does not raise an error, but the duplicate value is simply ignored, and the set remains unchanged

Q14 - How does the “in” keyword work differently for lists and dictionaries
Ans -  The in keyword in Python is used to check for membership, but it behaves differently depending on the data structure you're using — such as lists and dictionaries.

In Lists
When you use in with a list, it checks if a value is present in the list.
It looks through all elements (values) of the list.
It does not check for keys/indexes because lists don’t have keys — only values.

In Dictionaries
When you use in with a dictionary, it checks if a key is present in the dictionary — not a value.

Q15 - Can you modify the elements of a tuple? Explain why or why not

Ans - No, you cannot modify the elements of a tuple directly. This is because tuples are immutable in Python.

Q16- What is a nested dictionary, and give an example of its use case

Ans -  A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows you to create hierarchical data structures, grouping related data within a single dictionary

Q17- Describe the time complexity of accessing elements in a dictionary

Ans - In Python, dictionaries are implemented using hash tables, which offer very efficient access times.

Q18 -  In what situations are lists preferred over dictionaries

Ans - While both lists and dictionaries store collections of data, lists are the better choice when:

1. Order matters (especially before Python 3.7)
Lists maintain the insertion order naturally and are ideal when sequence or position is important.
2. You only need values, not key-value pairs
If your data doesn’t need named keys, a list is simpler and more efficient.
3. You need to access elements by position (index)
Lists support index-based access, which is ideal for ordered data and when position is meaningful.
4. You plan to use operations like slicing, sorting, or iteration
Lists are better for:

Sorting
Slicing
Reversing
Index-based loops

5. You have a small, simple dataset For small or sequential collections, lists are lightweight and easier to use than dictionaries.

Q19- Why are dictionaries considered unordered, and how does that affect data retrieval

Ans - In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.

Q20 - Explain the difference between a list and a dictionary in terms of data retrieval.


Ans -  lists access elements by their numerical index (starting from 0), while
dictionaries access elements by their unique, non-numeric keys. Lists are ordered, so the first element is at index 0, the second at index 1, and so on. Dictionaries are unordered but use keys to quickly locate values.

Practical Questions and Answers

In [3]:
# Q1 Write a code to create a string with your name and print it

string = "Sunaina"
print(string)

Sunaina

In [5]:
#Q2 Write a code to find the length of the string "Hello World"

string ="Hello World"
print(len(string))

11

In [7]:
#Q3 Write a code to slice the first 3 characters from the string "Python Programming"

string="python Programming"
slice=string[0:3]
print(slice)

pyt

In [9]:
#Q4 Write a code to convert the string "hello" to uppercase
string ="hello"
string = string.upper()
print(string)

HELLO

In [11]:
#Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

String = "i like apple"
string = string.replace ("apple","orange")
print(string)

HELLO

In [1]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [2]:
#Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [3]:
#Q8 - Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [5]:
#Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [6]:
#Q10 Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [8]:
#Q11 -  Write a code to create a tuple with the elements 100, 200, 300 and print it.

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [10]:
#Q12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [11]:
#Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [12]:
#Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [13]:
#Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [14]:
#Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a', 'b', 'c'}
print(letters)

{'c', 'a', 'b'}

In [15]:
#17 Write a code to clear all elements from the { 'a', 'b', 'c'}.

letters = {'a', 'b', 'c'}
letters.clear()
print(letters)

set()

In [16]:
#Q18  Write a code to remove the element 4 from the set {1, 2, 3, 4}

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [17]:
#Q19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [18]:
#Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [20]:
# Q21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [21]:
#Q22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [22]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [23]:
#Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [24]:
#Q25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [26]:
#Q26 Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_dict = {'a': 1, 'b': 2, 'c': 3}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [27]:
#Q27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[54, 60, 75, 82, 92]

In [28]:
#Q28  Write a code to create a list with strings and print the element at the third index.

strings = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(strings[2])

cherry

In [29]:
#Q29  Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
#Q30 Write a code to convert a list of strings into a set.

strings = ['apple', 'banana', 'cherry', 'date', 'elderberry']
string_set = set(strings)
print(string_set)

{'banana', 'cherry', 'date', 'apple', 'elderberry'}